
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* default primary color*/
      --color-primary: #299D91;
    }
  }
  
  .theme-blue {
    --color-primary: #1E90FF;
  }
  
  .theme-purple {
    --color-primary: #6A5ACD;
  }
  
  .theme-pink {
    --color-primary: #DB7093;
  }
  
  .theme-brown {
    --color-primary: #8B4513;
  }

  .zoom-in {
    @apply duration-500 hover:translate-y-1 hover:scale-110;
  }